@import "tailwindcss";

/* Design tokens */
:root {
  --bg-main: #4f8c83; /* головний фон */
  --bg-surface: #ededed; /* другорядний фон/поверхні */
  --text-main: #222; /* основний текст */
  --text-muted: #444444; /* другорядний текст */
  --text-invert: #f2e8e1; /* текст на темному фоні */
}

/* Можеш задати базові стилі */
html,
body {
  height: 100%;
}

body {
  background: var(--bg-main);
  color: var(--text-invert);
  font-family: var(--font-body);
  letter-spacing: 0.01em;
}

a {
  color: inherit;
}

svg {
  width: 30px;
  height: 30px;
}
